* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 100vw;
    background-color: #FFFAEA;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 73px 0 71px;
    border-bottom: 5px solid #365f42;
    background-color: #FFFAEA;
}

.home-logo {
    z-index: 1000;
}

.home-logo img {
    width: 45px;
    height: 45px;
    margin-bottom: -6px;
}

.logo {
    height: 100%;
    margin-right: auto;
}

.logo img {
    height: 90%;
    margin-left: -25px;
    margin-top: 1px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 58.6%;
}

.header select {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: #0E1317;
    font-size: 20px;
    font-weight: bold;
}

#home {
    justify-items: center;
    align-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 -3px -3px 47px;
}

#home-img-border {
    position: relative;
    display: flex;
    align-items: center;
    height: 70%;
    aspect-ratio: 1/1;
    margin-right: -12px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #355E3B; /* Shadow effect */
    background-color: #355E3B;
}

#home img {
    position: absolute;
    left: -1px;
    top: 2px;
    height: 104%;
    aspect-ratio: 1/1;
    border-radius: 50
}

.container {
    background-color: #FFFAEA;
}

.container h1 {
    align-content: center;
    height: 10vh;
    width: 100%;
    padding-left: 71px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
}

.main-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.section {
    text-align: center;
}

.section-title {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3rem 0 2rem;
}
.section p {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

p a {
    color: black;
}

.section.two p:nth-child(2) {
    margin-bottom: 20px;
}

.section.two p:nth-child(3), .section.two p:nth-child(4) {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.section.two .underline {
    text-decoration: none;
}