/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFAEA;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    justify-content: center;
    display: flex;
    align-items: center;
    /*background-color: aqua;*/
    /*background-image: url('../WS Group 5/images/chessBackground.png');*/
    background-size: cover;
    height: 15vh;
    width: 100%;
    padding-top: 20px;
}

.nav-bar {
    position: absolute;
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    top: 0%;
    padding: 0 73px 0 71px;
    border-bottom: 5px solid #365f42;
}

.logo {
    height: 100%;
    margin-right: auto;
}

.logo img {
    height: 100%;
    margin-left: -25px;
    margin-top: -4px;
}

.home-logo img {
    width: 45px;
    height: 45px;
    margin-bottom: -6px;
}

.nav-container {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 58.6%;
}

.nav-bar a {
    text-decoration: none;
    color: #0E1317;
    font-size: 20px;
    font-weight: 700;
}

#home {
    justify-items: center;
    align-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 -3px -3px 47px;
}

#home-img-border {
    position: relative;
    display: flex;
    align-items: center;
    height: 70%;
    aspect-ratio: 1/1;
    margin-right: -12px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #355E3B; /* Shadow effect */
    background-color: #355E3B;
}

#home img {
    position: absolute;
    left: -1px;
    top: 2px;
    height: 104%;
    aspect-ratio: 1/1;
    border-radius: 50
}

/* Search Bar */
.search-bar {
    padding: 10px;
    width: 500px;
    border: 1px solid rgb(10, 70, 8);
    border-radius: 5px;
}

/* Logo Container */
.logo-container {
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.logo-container img {
    width: 350px;
    height: 130px;
}

.logo-container p {
    font-size: 20px;
    font-weight: 550;
}

.container {
    margin-top: 120px;
    text-align: center;
}
.title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.section {
    margin-bottom: 4rem;
}
.section-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.section p {
    margin-bottom: 0.5rem;
}
.underline {
    text-decoration: underline;
}