/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFAEA;
}

header {
    justify-content: center;
    display: flex;
    align-items: center;
    /*background-color: aqua;*/
    /*background-image: url('images/chessBackground.png');*/
    background-size: cover;
    height: 60vh;
    width: 100%;
    padding-top: 20px;
}

.nav-bar {
    height: 10%;
    width: 100%;
    background-color: #FFFAEA;
    top: 0%;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    border-bottom: 5px solid #365f42;
}

.logo img {
    width: 180px;
    height: 60px;
    margin-right: 800px;
}

.home img{
    width: 45px;
    height: 45px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.header-content{
    justify-content: center;
    align-items: center;
    display: flex;
}
/* Page background */
body {
    background-color: #FFFAEA; /* Light beige background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styling */
.header-content {
    width: 80%;
    max-width: 900px;
    text-align: center;
    padding: 40px;
    background-color: #FFFAEA; /* Match background */
    margin-right: 5%;
}

/* Title styling */
.contact-title h3 {
    font-size: 30px;
    font-weight: bold;
    color: #444;
    text-align: center;
    margin-bottom: 500px;
}

/* Header sections */
.header-info h3 {
    font-size: 25px;
    font-weight: bold;
    color: #6B665A;
    margin-top: 40px;
}

/* Paragraph styling */
.header-info p {
    font-size: 20px;
    color: #333;
    margin-top: 5px;
    line-height: 1.5;
}

.nav-bar select {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}