* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFAEA;
}

.main-container {
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 73px 0 71px;
    border-bottom: 5px solid #365f42;
    background-color: #FFFAEA;
}

.home-logo {
    z-index: 1000;
}

.home-logo img {
    width: 45px;
    height: 45px;
    margin-bottom: -6px;
}

.logo {
    height: 100%;
    margin-right: auto;
}

.logo img {
    height: 90%;
    margin-left: -25px;
    margin-top: 1px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 58.6%;
}

.header select {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: #0E1317;
    font-size: 20px;
    font-weight: bold;
}

#home {
    justify-items: center;
    align-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 -3px -3px 47px;
}

#home-img-border {
    position: relative;
    display: flex;
    align-items: center;
    height: 70%;
    aspect-ratio: 1/1;
    margin-right: -12px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #355E3B; /* Shadow effect */
    background-color: #355E3B;
}

#home img {
    position: absolute;
    left: -1px;
    top: 2px;
    height: 104%;
    aspect-ratio: 1/1;
    border-radius: 50
}

.back-button {
    height: 5vh;
    margin: 2vh 0 0;
    padding: 0 2vw;
    background-color: #FFFAEA;
}

.back-button a {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.back-button a img {
    height: 90%;
    opacity: 50%;
}

.main-container.painting, .main-container.products  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
    width: 100%;
    padding: 0 0 20px;
}

.product-container {
    height: 100%;
    width: 36vw;
    padding: 0 3vw 0 2vw;
}

.product-image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8vh 20px;
    border: 4px solid #355E3B;
    border-radius: 15px;
}

.price-tag {
    position: absolute;
    top: 12px;
    right: -10px;
    background-color: #FFFAEA;
    padding: 5px 15px;
    border: 2px solid #e0e0d1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}

.product-image img {
    width: 60%;
}

.product-title {
    background-color: #3a423a;
    color: white;
    text-align: center;
    padding: 2vh 10px;
    margin: 20px auto;
    width: 60%;
    position: relative;
}

.plate-pin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #d4c89c;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #bbb;
}

.plate-pin p {
    height: 2px;
    width: 100%;
    background-color: rgba(170, 121, 29, 0.856);
}

.plate-pin.left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.plate-pin.right {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.add-to-cart {
    background-color: white;
    color: #3a423a;
    width: 48%;
    padding: 15px 15px;
    border: 3px solid #3a423a;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button-container a {
    width: 48%;
}

.buy-now {
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #3a423a;
    border: 3px solid #3a423a;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.description-container {
    align-content: center;
    height: 100%;
    width: 53vw;
    padding: 0 2vw;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
}

.description-container::-webkit-scrollbar {
    display: none;
}

.section-title {
    text-align: center;
    margin: 3vh 0;
    color: #3a423a;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.section-title.description {
    font-size: 26px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.description-text {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: serif;
}

.materials {
    text-align: center;
    margin: 40px 0;
    font-weight: 700;
}

.materials p {
    margin: 10px 0;
    font-size: 19px;
}

.artist-section {
    text-align: center;
    margin-top: 30px;
}

.artist-section h2 {
    text-align: center;
    margin: 0;
}

.artist-name {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 19px;
    font-family: serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease, visibility 0.1s ease;
}

.popup-container {
    background: lightgreen;
    border: 2px solid darkgreen;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 250px;
    font-size: 20px;
    font-weight: 500;
}

.popup-container p {
    margin-bottom: 10px;
}

.show {
    visibility: visible;
    opacity: 1;
}

.checkmark-container {
    width: 80px;
    height: 80px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark {
    font-size: 40px;
    color: #d4ffd4;
    font-weight: bold;
}

.align {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}