body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}
  
.main-container {
    box-sizing: border-box;
    min-height: 100px;
    height: fit-content;
    width: 100vw;
    background-color: #FFFAEA;
}

.header-team {
    height: 480px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(142, 141, 143) 0%, rgb(240, 240, 240) 40%, rgb(233, 233, 233) 70%, rgb(212, 212, 212) 100%);
}

.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 73px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    margin-top: -5px;
}

#home-img {
    height: 82%;
}

#home-img img {
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: -2px;
}

#ph-pallete-img {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;
    width: fit-content;
}

#ph-pallete-img img {
    height: 123%;
    margin-top: -1px;
    margin-left: -18px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 58.6%;
}

.nav-container a {
    color: #0E1317;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.nav-container select {
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: 0;
    margin-top: -3px;
    padding: 0;
    color: #0E1317;
    text-transform: uppercase;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#profile-img {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 -3px -3px 64px;
}

#profile-img-border {
    position: relative;
    display: flex;
    align-items: center;
    height: 95%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #355E3B;
    background-color: #355E3B;
}

#profile-img img {
    position: absolute;
    left: -1px;
    top: 2px;
    height: 104%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.team {
    height: 443px;
    width: 100%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    height: 65%;
    width: 100%;
    overflow: hidden;
}

.carousel-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: -30px;
    overflow: hidden;
}

.carousel {
    height: 100%;
    width: 100%;
}

.carousel-item {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.carousel-img {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #657855;
    background-color: blue;
}

.carousel-img img {
    height: 105%;
    aspect-ratio: 1/1;
    margin-top: 2px;
}

.carousel-name {
    text-align: center;
}

.carousel-name p {
    padding: 0;
    font-size: 18px;
    color: black;
}

.car-arrow {
    position: absolute;
    top: calc(50% - 30px);
    font-size: 30px;
}

#car-prev, #car-next {
    cursor: pointer;
}

.car-arrow.left {
    left: 20px;
}

.car-arrow.right {
    right: 20px;
}

.team-title {
    box-sizing: border-box;
    text-align: center;
    margin: -10px 0 0;
}

.team-title h5 {
    margin: 0;
    padding: 0;
    font-family: 'serif';
    font-size: 56px;
    color: black;
}

/* MisVis */

.mission-vission {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 98px 0 90px;
}

.php-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 336px;
    top: -50px;
    background-color: #FFFAEA;
}

.php-container img {
    height: 112%;
    margin-top: -30px;
}

.mission-vission h3, .mission-vission p {
    margin: 0;
    padding: 0;
}

.mission-vission h3 {
    margin-bottom: 29px;
    font-size: 32px;
    font-family: 'Kaisei Decol';
    color: #2D3629B2;
}

.mission-vission p {
    font-size: 30px;
    font-family: 'Kaisei Decol';
    letter-spacing: 0.5px;
}

.line {
    height: 1px;
    width: 3.5%;
    margin: 23px 0 45px;
    background-color: rgb(0, 49, 8);
    box-shadow: 0 1px 1px rgb(2, 219, 85, 0.5);
}

.footer {
    height: 10vh;
    background-color: #657855;
}




