* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    box-sizing: border-box;
    width: 100vw;
    background-color: dodgerblue;
}
/*
background-color: #bcbabdff;
background-color: rgb(142, 141, 143); */

.section-header-team {
    height: 597px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(142, 141, 143) 0%, rgb(240, 240, 240) 40%, rgb(233, 233, 233) 70%, rgb(142, 141, 143) 100%);
}

.section-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 154px;
    width: 100%;
    padding: 0 73px;
}

.header-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    margin-top: -5px;
    padding: 0;
    overflow: hidden;
}

#home-img {
    height: 82%;
}

#home-img img {
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: -2px;
}

#ph-pallete-img {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;
    width: fit-content;
}

#ph-pallete-img img {
    height: 123%;
    margin-top: -1px;
    margin-left: -18px;
}

.nav-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 58.6%;
}

.nav-container a {
    color: rgb(14, 44, 0);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

#profile-img {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 -3px -3px 64px;
}

#profile-img-border {
    position: relative;
    display: flex;
    align-items: center;
    height: 95%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #355E3B; /* Shadow effect */
    background-color: #355E3B;
}

#profile-img img {
    position: absolute;
    left: -1px;
    top: 2px;
    height: 104%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.content-team-title {
    height: 35%;
    background-color: rgb(10, 58, 90);
}

.section-team {
    box-sizing: border-box;
    height: 443px;
    width: 100%;
}
.content-team {
    position: relative;
    box-sizing: border-box;
    height: 65%;
    width: 100%;
}

.carousel {
    height: 100%;
    margin-top: -90px;
}

.carousel-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item p {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -60px;
    color: black;
    font-size: 16px;
}

.img {
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 3px solid #355E3B;
    border-radius: 50%;
}

.img img {
    height: 104%;
    aspect-ratio: 1/1;
    margin-left: -4px;
}

.arrow {
    position: absolute;
    top: 63.5%;
    background: none;    
    border: none;
    outline: none;
    cursor: pointer;
}

.arrow ion-icon {
    font-size: 26px;
}

.arrow.left {
    left: 27px;
}

.arrow.right {
    right: 27px;
}

.arrow:focus {
    background-color: transparent;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    margin-top: 90px;
}

.section-title h5 {
    margin: 31px 0 10px;
    padding: 0;
    font-family: 'serif';
    font-size: 56px;
    color: black;
}

.section-title-phpallete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 339px;
    margin-bottom: -70px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

.section-title-phpallete img {
    height: 116%;
    margin-top: -11px;
}

.mission-vission-container {
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    padding-top: 98px;
    background-color: darkseagreen;
}

.mission-vission {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(160, 160, 32);

}

.mis-vis-head {
    box-sizing: border-box;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: serif;
    background-color: darkcyan;
}

.mis-vis {
    margin: 0;
    padding: 0;
}